:root {
  --io-color-bg-normal: hsl(0, 0%, 94%);
  --io-color-bg-text: hsl(300, 32%, 8%);
  --io-color-bg-text-subtle: hsl(300, 10%, 37%);

  --io-color-card-bg: hsl(0, 0%, 100%);

  --io-color-card-todo-bg: hsl(20, 30%, 80%);
  --io-color-card-inprogress-bg: hsl(50, 30%, 80%);
  --io-color-card-done-bg: hsl(90, 30%, 80%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --io-color-bg-normal: hsl(0, 0%, 9%);
    --io-color-bg-text: hsl(0, 0%, 100%);
    --io-color-bg-text-subtle: hsl(0, 0%, 80%);

    --io-color-card-bg: hsl(0, 0%, 0%);

    --io-color-card-todo-bg: hsl(20, 10%, 15%);
    --io-color-card-inprogress-bg: hsl(50, 10%, 15%);
    --io-color-card-done-bg: hsl(90, 10%, 15%);
  }
}
