@keyframes card-in {
  0% {
    transform: scaleY(0);
  }
}

.container {
  background: var(--io-color-card-bg);
  border-radius: 12px;
  padding: var(--gap-v) var(--gap-h);
  overflow: hidden;
  transform-origin: 50% 0;
  animation: 200ms card-in;
}

.title {
  font-weight: 500;
  font-size: 1.1rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.subtitle {
  font-size: 0.9rem;
  color: var(--io-color-bg-text-subtle);
}

.status {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  aspect-ratio: 1 / 1;
  border-bottom-left-radius: 100%;
}
