.container {
  display: flex;
  flex-direction: column;
  gap: 2%;
  overflow-y: scroll;
  align-items: center;
  background-color: rgba(184, 180, 180, 0.5);
  padding-top: 2%;
  padding-bottom: 3%;
  border: 1px solid #000;
  height: 100%;
}

.headerText {
  font-size: large;
  font-weight: 5px;
  color: red;
}

.header {
  background-color: white;
  border: 1px solid black;
  width: 95%;
}
