.outerContainer {
  height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3%;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 2%;
  height: 85%;
}

@media only screen and (max-width: 600px) {
  .container {
    min-width: 600px;
  }
  .outerContainer {
    width: 100%;
    overflow-x: scroll;
  }
}
